.backimg{
  top: 50%;
  background: url('../img/temp.jpg'); 
  background-size: 50%;
}
.jumboton_back
{
  background: none;
}
.container_back{
  background: none;
}
body.loginPageClass {
  /* background-image: some other image */
  background: url('../img/l.png ') no-repeat center center fixed;
  background-size: cover;
}

