
.jumbotron{
   padding: 10px;
   background: none;
   /* margin: 160px; */
    /* background: white; */
}

/* body{
    background: url('../img/temper.jpg') no-repeat center center fixed;
    background-size: cover;
} */    
.bakcolor{
    background: #ffffffb5;
    color: black;
}

body.HomePageClass{
    background: url('../img/OB82AT0.jpg') no-repeat center center fixed;
    background-size: cover;
}
